{% extends 'base.html.twig' %}

{% block title %}Edit Tournoi{% endblock %}

{% block body %}
    <h1>Edit Tournoi</h1>

    {{ include('tournoi/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('afficher_tournoi') }}">back to list</a>


{% endblock %}
