{% extends 'base.html.twig' %}

{% block title %}New Match{% endblock %}

{% block body %}
    <h1>Create new Match</h1>

    {{ include('matchh/_form.html.twig') }}

    <a href="{{ path('afficher_match') }}">back to list</a>
{% endblock %}