{% extends 'base.html.twig' %}

{% block title %}Edit Match{% endblock %}

{% block body %}
    <h1>Edit Match</h1>

    {{ include('matchh/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('afficher_match') }}">back to list</a>


{% endblock %}
